# --- Build Outputs & Compiled Code ---
target/
production/
tmp/

# --- JavaFX Folder ---
bin/
lib/

# --- IDE Settings (IntelliJ & VS Code) ---
.idea/
*.iml
.vscode/

# --- Local Environment ---
.env
